
body{
  font-family: 'Lato', sans-serif;
  font-family: "Open Sans", sans-serif;
 

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.section-title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 800;
}
.section-info{
   color: #757575;
   text-align: center;
   font-size: 18px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;

}
/* header releted styl*/
.header{
    background-color: #Fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;
   
}
.banner{
    padding: 30px 30px 0px  150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 700px;
}
.profile-pic{
    width: 500px;
    
}
.banner-gratting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-description{
    font-size: 30px;
   margin-top: 5px;
}

.about{
    padding: 130px;
    border-radius: 10px;
    color: #Fff8f3;
    margin: 130px 0;
   
    

}
.about-info-container{
    display: flex;
    justify-content: space-around;
    color: #181818;
}
.about-info{
    text-align: center;
}
#what-i-do-section-info{
    margin: 30px 150px;
}
/*what i do skills section */
.skils-contaier{
  display: flex;
  justify-content: space-around;
}
.skill{
    margin-top: 30px;
}

